<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="/admin/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/static/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="/admin/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/admin/static/js/bootstrap.min.js"></script>
  {{#article_js}}<script type="text/javascript" src="/admin/static/js/article.js"></script>{{/article_js}}
  {{#draft_js}}<script type="text/javascript" src="/admin/static/js/draft.js"></script>{{/draft_js}}
  {{#editor}}
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
  {{/editor}}
  </head>
  <body>
    <nav class="nav navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin/">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">