{{> header.html}}
            <li><a href="/admin/article/">Article</a></li>
            <li class="active"><a href="/admin/page/">Page</a></li>
            <li><a href="/admin/draft/">Draft</a></li>
            <li><a href="/admin/config/">Configuration</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id=main>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default" id="pages">
            <div class="panel-heading">
              <span class="panel-title">Pages</span>
              <a id="new-page" style="float: right;" data-toggle="modal" data-target="#modal-new-page">New page</a>
            </div>
            <table class="table panel-body">
              {{#page}}
              <tr data-id="{{id_encoded}}">
                <td class="col-md-1">No. {{order}}</td>
                <td class="col-md-9 col-md-offset-1">
                  <a href="/page/c{{id_encoded}}">{{title}}</a>
                </td>
                <td class="col-md-1 col-md-offset-10">
                  <a class="edit-page" data-id="{{id_encoded}}">Edit</a>
                </td>
                <td class="col-md-1 col-md-offset-11">
                  <a class="delete-page" data-id="{{id_encoded}}">Delete</a>
                </td>
              </tr>
              {{/page}}
            </table>
          </div>
        </div>
      </div>
      <div id="modal-new-page" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="newPageLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newPageLabel">New page</h4>
            </div>
            <form class="modal-body form-horizontal">
              <div class="form-group" id="new-title-group">
                <label for="new-title" class="col-md-1 control-label">Title</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" id="new-title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="new-order" class="col-md-1 control-label">Order</label>
                <div class="col-md-2">
                  <input type="number" class="form-control" id="new-order" value="{{new_order}}">
                </div>
              </div>
              <div class="form-group">
                <label for="new-content" class="col-md-1 control-label">Content</label>
                <div class="col-md-11">
                  <div class="form-control" id="new-content"></div>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button id="new-publish" type="button" class="btn btn-primary">Publish</button>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-edit-page" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="editPageLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editPageLabel">Edit page</h4>
            </div>
            <form class="modal-body form-horizontal">
              <div class="form-group" id="edit-title-group">
                <label for="edit-title" class="col-md-1 control-label">Title</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" id="edit-title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="edit-order" class="col-md-1 control-label">Order</label>
                <div class="col-md-2">
                  <input type="number" class="form-control" id="edit-order">
                </div>
              </div>
              <div class="form-group">
                <label for="edit-content" class="col-md-1 control-label">Content</label>
                <div class="col-md-11">
                  <div class="form-control" id="edit-content"></div>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button id="edit-submit" type="button" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteLabel">Delete page</h4>
            </div>
            <div class="modal-body">
              <div>Are you sure to delete this page?</div>
              <div id="alert-failure" style="display: none;" class="alert alert-danger" role="alert">Failed to delete this page.</div>
            </div>
            <div class="modal-footer">
              <button id="delete-page" type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{{> footer.html}}